footer{
    background-color: var(--purple-solid);
    color: white;
    margin-bottom: 0;
    padding: 3%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

p{
    margin-bottom: 0;
}

.content{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.fa {
    padding: 0.1%;
    font-size: 1.2rem;
    width: 50px;
    text-decoration: none;
    margin: 5px 0px;
    color: white;
}

.logos{
    margin-top: 1.3%;
}

.logos p{
    cursor: pointer;
}